<div class="overflow-x-auto">
  <div class="flex justify-between my-4">
    <div class="relative w-1/6">
      <%= render partial: "form", locals: { creditor: @creditor } %>
    </div>
    <%= render partial: "data_configurations/data_switcher" %>
  </div>
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Basic drinks ($1)
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Specialty drinks ($2)
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Balance
        </th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      <% @creditors.each do |creditor| %>
        <%= render partial: "creditor", locals: { creditor: } %>
      <% end %>
    </tbody>
  </table>
